# Arch ZRAM configuration service
# Create 1 + number of cores compressed block devices
# This service may block the boot process for up to 30 sec

[Unit]
Description=Arch ZRAM config
DefaultDependencies=no
After=local-fs.target
Before=arch-ramlog.service
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/lib/arch/arch-zram-config start
ExecStop=/usr/lib/arch/arch-zram-config stop
RemainAfterExit=yes
TimeoutStartSec=30sec

[Install]
WantedBy=sysinit.target
